.amap-marker{
    &:hover{
        z-index: 9999 !important;
    }
    &-content{
        white-space: normal !important;
    }
}

.marker{
    @extend .unselectable;
    background-color: $bg-light;
    @include border-radius(10px);
    line-height: 1.3;
    color: $text-main;
    @include transition(all 0.3s);
    @include box-shadow(2px 2px 5px rgba(121, 85, 72, 0.39));
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-flow: column nowrap;
    &.no-content{  // 没有内容的用，没有 padding
        @include border-radius(10px);
        overflow: hidden;
        .marker-index{
            border-bottom: none;
        }
        .marker-content{
            padding: 0;
        }
        &:hover{
            overflow: hidden;
        }
    }
    &:hover{
        z-index: 99999;
        @include border-radius(10px);
        @include transition(all 0.3s);
        transform: scale(1.2);
        transform-origin: center center;
        .marker-index{
            .index{
                color: $color-main;
                text-shadow: 1px 2px 1px transparentize($color-main, 0.6);
            }
        }
        .marker-content{

        }
    }
    .marker-index{
        @include border-radius(10px 10px 0 0 );
        border-bottom: 1px solid $border-normal;
        background-color: white;
        padding: 5px 10px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-start;
        .index{
            margin-right: 10px;
            font-weight: bold;
            color: transparentize(black, 0.6);
            font-size: 18px;
        }
        .title{
            white-space: nowrap;
            font-weight: bold;
            font-size: 15px;
        }
    }
    .marker-content{
        padding: 4px 8px 10px;
        .note{
            white-space: nowrap;
            font-size: 0.7rem;
            color: $text-subtitle;
        }
        .view{
            @include transition(all, 0.3s);
            margin-top: 5px;
            width: 60px;
            @include border-radius($radius);
            overflow: hidden;
            img{
                display: block;
                width: 100%;
            }
            &:hover{
                @include box-shadow(3px 3px 5px transparentize(black, 0.7));
                transform: scale(5);
                transform-origin: center center;
                margin-top: 10px;
                @include transition(all, 0.3s);
            }
        }
    }

    $marker-types: (
        "blue": $blue,
        "green": $green,
        "red": $red,
        "orange": $orange,
        "yellow": $yellow,
    );


    @each $name, $color in $marker-types {
        &.#{$name} {
            .marker-index{
                color: white;
                background-color: $color;
                border-bottom: 1px solid $color;
                text-shadow: 1px 1px 1px transparentize(black, 0.9);
                .index{
                    margin-right: 10px;
                    font-weight: bold;
                    color: transparentize(white, 0.2);
                    font-size: 18px;
                }
            }
            .marker-content{
                @include border-radius(0 0 10px 10px);
                background-color: lighten($color, 45%);
                .note{
                    color: $text-main;
                }
            }
            &:hover{
                .marker-index {
                    .index{
                    }
                }
            }
        }
    }
}


.marker-plate{
    background-color: white;
    @include border-radius(4px);
    padding: 6px;
    line-height: 1.3;
    color: $text-main;
    @include box-shadow(2px 2px 5px rgba(121, 85, 72, 0.39));
    .title{
        font-family: "Times";
        text-align: center;
        white-space: nowrap;
        font-weight: bold;
        font-size: 1.2rem;
    }
    .note{
        white-space: nowrap;
        font-size: 0.8rem;
        color: $text-subtitle;
    }
}
