input[type=number] {
  padding-right: 0!important;
}

.el-input__inner{
  padding: 0 0 0 6px !important;
}
.el-textarea__inner{
  padding: 5px 8px;
}

.el-table .cell {
  line-height: 18px;
}

// TAB
.el-tabs__item{
  height: 30px !important;
  line-height: 30px !important;
  font-size: $fz-small;
}

