input[type=number] {
  padding-right: 0!important;
}

.ElInput__inner{
  padding-left: 6px !important;
}
.el-textarea__inner{
  padding: 5px 8px !important;
}

.ElTable .cell {
  line-height: 18px;
}

// TAB
.ElTabs__item{
  height: 30px !important;
  line-height: 30px !important;
  font-size: $fz-normal;
}

