@import "reset";
@import "plugin";
@import "gutter";
@import "animate";
@import "markdown";
@import "markder";   // map marker

body{
    background-color: #f2f2f2;
}

.header{
    line-height: 60px;
}

body{
    position: relative;
}

.home{
    @include box-shadow(2px 2px 5px rgba(121, 85, 72, 0.39));
    padding: 5px 8px;
    @include border-radius(5px);
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 0.8rem;
    background-color: white;
    cursor: pointer;
}

#panel{
    position: absolute;
    top: 60px;
    right: 60px;
    bottom: 60px;
}


.menu{
    overflow: hidden;
    background-color: white;
    top: 30px;
    width: 150px;
    @include border-radius(8px);
}
.menu-item{
    @extend .unselectable;
    cursor: pointer;
    border-bottom: 1px solid $border-normal;
    padding: 5px 10px 5px 30px;
    &:last-child{
        border: none;
    }
    &:hover{
        background-color: rgba(0,0,0,0.05);
    }
    &:active{
        transform: translateY(2px);
    }
}


.button-center{
    display: flex;
    justify-content: center;
    align-items: center;
}


.btn-narrow{
    padding: 7px;
}

.input-focus{
    input{
        &:focus{
            animation-name: focus;
        }
    }
}

@-webkit-keyframes focus {
    from {outline-width: 5px;}
    to {outline-width: 0;}
}
@keyframes focus {
    from {outline-width: 5px;}
    to {outline-width: 0;}
}

.button-float{
    z-index: 1000;
    background-color: white;
    width: $width-float-btn;
    font-size: 25px;
    line-height: $width-float-btn;
    text-align: center;
    height: $width-float-btn;
    @include border-radius($width-float-btn);
    border: 1px solid $border-normal;
    @extend .btn-like;
    &:hover{
        border-color: $color-primary;
        color: $color-primary;
        @include box-shadow(1px 2px 2px transparentize(black, 0.8))
    }
}

.table-date{
    font-family: "JetBrains Mono", sans-serif;
    line-height: 1;
    .create-date{}
    .modify-date{
        color: $orange;
    }
}




@import "overwrite-el-ui";
@import "overwrite-amap";
