@import "reset";
@import "plugin";
@import "gutter";
@import "animate";

body{
    background-color: #f2f2f2;
}

.header{
    line-height: 60px;
}

.amap-marker{
    &-content{
        white-space: normal !important;
    }
}

.marker{
    @extend .unselectable;
    background-color: white;
    @include border-radius(5px);
    padding: 6px;
    line-height: 1.3;
    color: $text-main;
    @include transition(all 0.3s);
    @include box-shadow(2px 2px 5px rgba(121, 85, 72, 0.39));
    &:hover{
        z-index: 9999;
        @include border-radius(10px);
        @include transition(all 0.3s);
        padding: 8px 6px;
        transform: scale(1.2);
        .marker-content{
            .view{
                margin-top: 10px;
                @include transition(all, 0.3s);
                width: 400px;
            }
        }
    }

    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    .marker-index{
        margin-right: 10px;
        .index{
            color: $text-subtitle;
            font-size: $fz-small;
        }
    }
    .marker-content{
        .title{
            white-space: nowrap;
            font-weight: bold;
            font-size: 0.8rem;
        }
        .note{
            white-space: nowrap;
            font-size: 0.7rem;
            color: $text-subtitle;
        }
        .view{
            @include transition(all, 0.3s);
            margin-top: 5px;
            width: 60px;
            @include border-radius($radius);
            overflow: hidden;
            img{
                display: block;
                width: 100%;
            }
        }
    }

    &.orange{
        background-color: $orange;
        color: white;
        .note{color: transparentize(white, 0.3);}
    }
    &.green{
        background-color: $green;
        color: white;
        .note{color: transparentize(white, 0.3);}
    }
    &.blue{
        background-color: $blue;
        color: white;
        .note{color: transparentize(white, 0.3);}
    }
    &.red{
        background-color: $red;
        color: white;
        .note{color: transparentize(white, 0.3);}
    }
}

.marker-plate{
    background-color: white;
    @include border-radius(4px);
    padding: 6px;
    line-height: 1.3;
    color: $text-main;
    @include box-shadow(2px 2px 5px rgba(121, 85, 72, 0.39));
    .title{
        font-family: "Times";
        text-align: center;
        white-space: nowrap;
        font-weight: bold;
        font-size: 1.2rem;
    }
    .note{
        white-space: nowrap;
        font-size: 0.8rem;
        color: $text-subtitle;
    }
}

body{
    position: relative;
}

.home{
    @include box-shadow(2px 2px 5px rgba(121, 85, 72, 0.39));
    padding: 5px 8px;
    @include border-radius(5px);
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 0.8rem;
    background-color: white;
    cursor: pointer;
}

#panel{
    position: absolute;
    top: 60px;
    right: 60px;
    bottom: 60px;
}


.menu{
    overflow: hidden;
    background-color: white;
    top: 30px;
    width: 150px;
    @include border-radius(8px);
}
.menu-item{
    @extend .unselectable;
    cursor: pointer;
    border-bottom: 1px solid $border-normal;
    padding: 5px 10px 5px 30px;
    &:last-child{
        border: none;
    }
    &:hover{
        background-color: rgba(0,0,0,0.05);
    }
    &:active{
        transform: translateY(2px);
    }
}


.button-center{
    display: flex;
    justify-content: center;
    align-items: center;
}


.btn-narrow{
    padding: 7px;
}

.input-focus{
    input{
        &:focus{
            animation-name: focus;
        }
    }
}

@-webkit-keyframes focus {
    from {outline-width: 5px;}
    to {outline-width: 0;}
}
@keyframes focus {
    from {outline-width: 5px;}
    to {outline-width: 0;}
}

.button-float{
    z-index: 1000;
    background-color: white;
    width: $width-float-btn;
    font-size: 25px;
    line-height: $width-float-btn;
    text-align: center;
    height: $width-float-btn;
    @include border-radius($width-float-btn);
    border: 1px solid $border-normal;
    @extend .btn-like;
    &:hover{
        border-color: $color-primary;
        color: $color-primary;
        @include box-shadow(1px 2px 2px transparentize(black, 0.8))
    }
}




@import "overwrite-el-ui";
@import "overwrite-amap";
